# PostgreSQL Database URL for Vercel Postgres, Neon, Supabase, Aiven, or Railway
DATABASE_URL="postgresql://postgres:password@ep-sample-host.region.aws.neon.tech/thabba_travel?sslmode=require"

# Secret Key for HTTP-Only JWT Session Authentication
JWT_SECRET="thabba_crm_secure_jwt_secret_key_2026_super_secret"
